/*=============== ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===============*/
*{
    margin: 0;
    padding: 0;
}
.clearfix{
    clear: both;
}
img{
    border: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: darkorange;
}
.outline1{
    outline: 1px solid black;
}
.outline2{
    outline: 1px solid red;
}
.wraper{
    width: 100%;
}
.container{
    max-width: 989px;
    margin: 0 auto;
    font-size: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*=============== КОНЕЦ ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===============*/

/*=============== HEDER-WRAPER ===============*/
.head-wraper .container{
    padding: 15px 0;
    height: 90px;
    line-height: 90px;

}
.logo{
    width: 261px;
    display: inline-block;
    vertical-align: top;

}
.logo img{
    vertical-align: middle;
}
.banner728x90{
    width: 728px;
    display: inline-block;
}
/*=============== CLOSE HEDER-WRAPER ===============*/

/*=============== MENU-WRAPER ===============*/
.menu-wraper{
    background-color: cornsilk;
}

.menu-wraper .container{
    overflow: hidden;
}
.menuUl{
    float: left;
}
.menuUl li{
    display: inline-block;
}
.menuUl li a{
    line-height: 38px;
    vertical-align: middle;
    font-size: 13px;
    padding-right: 15px;
}
.iconMenu{
    float: right;
}
.iconMenu li{
    display: inline-block;
}
.iconMenu li img{
    padding: 3px 0 3px 15px;
}
/*=============== CLOSE MENU-WRAPER ===============*/

/*=============== content-wraper ===============*/


.content-wraper{
    padding: 15px;
}

.content-wraper .container{
    padding: 15px;
    box-sizing: border-box;
    font-size: 13px;
    overflow: hidden;
}

.content{
    float: left;
    width: 615px;

}

.shedow{
    border: 10px solid #f3f3f3;
    width: 182px;
    height: 183px;
    position: absolute;

}
.contentBlok{
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    padding: 25px 0;
}
.contentImg{
    float: left;
    margin-right: 20px;
}
.contentBlookText{
}

.coments{
    overflow: hidden;
    margin-bottom: 20px;
}
.admin{
    float: left;
}
.coment{
    float: right;
}
.content-Text h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.more{
    padding-top: 25px;
}
/*между ними 300*/
.siteBar{
    width: 300px;
    float: right;
}
/*=============== CLOSE content-wraper ===============*/

/*=============== number =====================*/
.number{
    text-align: center;
}

.number li{
    display: inline-block;
}

.number li a{
    padding: 0 11px;
    font-weight: bold;
    font-size: 35px;
}
/*=============== CLOSE number ===============*/


/*=============== footer-wraper =====================*/
.footer-wraper{
    width: 100%;
    background-color: #f0f0f0;
}

.footer-wraper .container{
    padding: 15px;
    box-sizing: border-box;
    font-size: 13px;
    vertical-align: top;
    line-height: 24px;
}
.footer-wraper .container h2{
    text-transform: uppercase;

}

.book1{
    width: 294px;
    display: inline-block;
    vertical-align: top;
}
.book2{
    width: 321px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    padding-left: 45px;
    box-sizing: border-box;

}
.book3{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
}
/*=============== CLOSE footer-wraper ===============*/

/*=============== foot =====================*/
.foot-wraper{
    width: 100%;
}
.foot-wraper .container{
    padding-top: 25px;
    margin-bottom: 50px;
    box-sizing: border-box;
    font-size: 12px;
}
.left{
    float: left;
}
.right{
    float: right;
}

.right1{
    margin-right: 53px;
}

/*=============== CLOSE foot ===============*/


/*=============== content-wraper =====================*/
/*=============== CLOSE content-wraper ===============*/